html,body{
	height: 100%;
}

body {
	background: rgb(255,255,255);
background: linear-gradient(246deg, rgba(255,255,255,1) 0%, rgba(19,121,9,1) 100%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 100%);
	}

.contenido{
	margin:0 auto;
	width: 80%

}

.menu{
	list-style: none;
	display:flex;
	justify-content:space-around;
}
@media screen and (max-width: 700px){
	.menu{
		flex-direction:column;
	}
	.menu li{
		border-bottom:solid 0.1em #000;
	}
}

.menu li a {
	font-size: 150%;
	font-family: verdana;
	color: #FF0000;
	text-decoration:none;
}

.menu li a:hover{
text-decoration:overline; 
}

nav{
	background:rgba(255,255,255,0.5);
	padding:2em; 
}

.foto{
	width:40%;
	margin: auto;
}

.imagen{
	max-width: 100%;
	height: auto;
}